{% extends 'base.html' %} {% block main %}
<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class='card col-md-12' id='file_card1'>
                <div class="card-header">
                    <form class="form-horizontal" onkeydown="if(event.keyCode==13){return false;}">
                        <div class="form-group form-inline">
                            <label for="ori_numofvechicles" class="control-label col-md-2 mr-4 ">Number of vehicles</label>
                            <input type="text" class="form-control col-md-2" id="file_numofvechicles" placeholder="200">
                            <button class="btn btn-secondary col-md-2 ml-4 mr-4" id="fileGenerateData" type="button">
                                    <span class="btn-label">
                                        <i class="fas fa-wrench"></i>
                                    </span>
                                    Generate data
                                </button>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div id="container4">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-12" id="file_card2">
                <div class="card-header">
                    datashow
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="file_infoshow">

                        </div>
                        <table id="file-multi-filter-select" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>license</th>
                                    <th>begin_time</th>
                                    <th>end_time</th>
                                    <th>load_hotspot</th>
                                    <th>drop_hotspot</th>
                                    <th>od_distance</th>
                                    <th>traveled_from_charged</th>
                                    <th>to_charge</th>
                                    <th>cs_index</th>
                                    <th>cs_name</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>license</th>
                                    <th>begin_time</th>
                                    <th>end_time</th>
                                    <th>load_hotspot</th>
                                    <th>drop_hotspot</th>
                                    <th>od_distance</th>
                                    <th>traveled_from_charged</th>
                                    <th>to_charge</th>
                                    <th>cs_index</th>
                                    <th>cs_name</th>
                                </tr>
                            </tfoot>
                            <tbody id="file_thetbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="chart-container">
                        <div id="file_barChart" style="width: 100%;height:300px;"></div>
                    </div>
                    <a class="btn btn-success col-md-2 ml-4 mr-4" id="downloadData" href="{% url 'file_filedownload' %}">
                        <span class="btn-label">
                            <i class="fas fa-cloud-download-alt">
                            </i>
                        </span> Download data
                    </a>
                </div>
            </div>
        </div>
        <div class="row" id="file_progressing" style="display:none;background-color:white;">
            <div class="form-group form-inline">
                <img src="../../static/assets/img/loadinggif.gif" alt="nope" class="col-md-6">
                <div class="col-md-6">
                    <p> The data is progressing , this will cost a lot time. </p>
                    <p>For example :</p>
                    <p>(number of vehicles : 10</p>
                    <p>number of charging stations : 10)</p>
                    <p>=>(cost time : 30second)</p>
                    <p>you can estimate your time cost...</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
<!-- Chart JS -->
{% block toc %}
<script>
    $(document).ready(function() {
        var map4 = new AMap.Map("container4", {
            zoom: 12,
            center: [114.029652662306, 22.5529062486263],
            viewMode: "2D",
            lang: "en", //地图语言
            mapStyle: 'amap://styles/whitesmoke',
        })

        $.get("../static/dataUpload/uploadstations.csv", function(data) {
            lines = data.split("\r\n")
            for (i = 1; i < lines.length; i++) {
                onetip = lines[i].split(",")
                console.log(onetip)
                if (onetip.length > 1) {
                    titleshow = "Station name : " + onetip[1] + '\nNumber of piles: ' + onetip[4] + "\nLocation: (" + onetip[2] + "," + onetip[3] + ")"

                    marker = new AMap.Marker({
                        title: titleshow,
                        icon: "//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png",
                        position: [onetip[2], onetip[3]],
                        offset: new AMap.Pixel(-10, -30)
                    });

                    marker.setLabel({
                        offset: new AMap.Pixel(10, 10), //设置文本标注偏移量
                        content: "<div class='info'>" + onetip[1] + "</div>", //设置文本标注内容
                        direction: 'top' //设置文本标注方位
                    })

                    map4.add(marker)
                }
            }
        })
    })
</script>
{% endblock toc %}